.presentation {
    display: flex;
    flex-direction: column;
    background: linear-gradient(107deg, var(--color-primary-1) 13%, var(--color-secondary-1) 69%);
    padding-top: 100px;

    @media (min-width: 768px) {
        grid-column: 1;
        grid-row: 1;
        padding-top: 200px;
    }
    .presentationContent {
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: auto auto;
        }
        .presentationTitle {
            font-size: 36px;
            color: var(--color-light-1);
            font-weight: 700;
            margin: 20px 10px;
            text-align: center;
            @media (min-width: 768px) {
                grid-column: 1;
                grid-row: 1;
                margin: 1rem 1rem;
                font-size: 42px;
                text-align: center;
            }
        }
        .banner {
            width: 100%;
            img {
                width: 100%;
                @media (min-width: 768px) {
                    border-radius: 25px;
                }
            }
            @media (min-width: 768px) {
                grid-column: 2 / span 3;
                grid-row: 1 / span 3;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        .presentationDescription {
            font-size: 20px;
            color: var(--color-light-1);
            font-weight: 200;
            text-align: center;
            margin: 20px 10px;
            @media (min-width: 768px) {
                grid-column: 1;
                grid-row: 2;
                text-align: justify;
                margin: 1rem 2rem;
            }
        }
        .buttons {
            display: flex;
            gap: 20%;
            justify-content: center;
            margin: 40px 0;
            .buttonAbout {
                border: 2px solid var(--color-light-1);
                transition: 400ms;
                border-radius: 4px;
                padding: 10px;
                background-color: transparent;
                color: var(--color-light-1);
                cursor: pointer;
            }
            .buttonAbout:hover {
                background-color: var(--color-primary-1);
                color: var(--color-light-1);
            }
            @media (min-width: 768px) {
                grid-column: 1;
                grid-row: 3;
                margin: 30px 2rem;
            }
        }
    }
}
