{
  "extends": ["next/core-web-vitals", "airbnb", "airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "react/destructuring-assignment": "off",
    "react/react-in-jsx-scope": "off",
    "no-param-reassign" : "off",
    "import/no-named-as-default": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "max-len": ["error", 150],
    "react/jsx-no-bind": "off",
    "jsx-a11y/no-noninteractive-element-interactions":"off",
    "jsx-a11y/click-events-have-key-events":"off",
    "jsx-a11y/no-static-element-interactions": "off",
    "@next/next/no-img-element": "off",
    "import/no-cycle": "off",
    "@typescript-eslint/naming-convention": "off",
    "react-hooks/rules-of-hooks": "off",
    "no-plusplus": "off",
    "no-continue":"off",
    "no-await-in-loop": "off",
    "react-hooks/exhaustive-deps": "off"
  }
}
