.container {
  margin: 2rem 0;
  padding: 1rem;

  .successMessage {
    margin: 1rem 0;
    padding: 1rem;
    font-size: 20px;
    text-align: center;
    color: var(--color-success-1);
    font-weight: 700;
  }

  .errorMessage {
    margin: 1rem 0;
    padding: 1rem;
    font-size: 20px;
    text-align: center;
    color: var(--color-error);
    font-weight: 700;
  }
}
