.section {
    padding: 100px 1rem;
    @media (min-width: 768px) {
        padding-top: 150px;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem;
        button {
            width: 100%;
        }
    }
    .warn {
        margin: 1rem 0;
        padding: 1rem;
        font-size: 20px;
        text-align: center;
    }
    .ul {
        padding: 2rem;
        list-style: none;
        margin: 1rem auto;
        color: var(--color-light-1);
        display: flex;
        flex-direction: column;
        width: fit-content;
        width: -moz-fit-content;
        display: flex;
        @media (min-width: 768px) {
            flex-direction: row;
        }
        li {
            background-color: var(--color-primary-2);
            margin: 1rem 1rem;
            text-align: center;
            max-width: 500px;
            padding: 1rem;
            p {
                background-color: var(--background-color-dark);
                width: 100%;
                border: 2px solid var(--color-light-1);
                margin: 1rem 0;
                padding: 0.5rem;
            }
            span {
                font-size: 26px;
            }
        }
    }
}
