.container {
    background-color: var(--color-light-1);
    display: flex;
    justify-content: center;
    div {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        margin: 0 1rem;
        padding: 1rem;
        background-color: var(--color-light-1);
        border-radius: 2%;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
        @media (min-width: 768px) {
            width: 60%;
            margin-top: 3rem;
        }
        .title {
            margin: 15px 0;
            color: var(--color-primary-2);
        }
        .form {
            display: flex;
            flex-direction: column;
            gap: 8px;
            input,
            textarea {
                background: #f8f8f8;
                border: 1px solid #ececec;
                box-sizing: border-box;
                border-radius: 8px;
                width: 100%;
                padding: 10px;
                font-size: 14px;
            }
            textarea {
                height: 100px;
            }
            .errorMessage {
                color: var(--color-error);
                margin: 1rem 0;
            }
            .successMessage {
                color: var(--color-success-2);
            }
            button {
                color: var(--color-light-1);
                background-color: var(--color-primary-2);
                border-radius: 6%;
                padding: 0.5rem;
                width: 50%;
                margin-top: 1.5rem;
                border: var(--color-light-2) 2px solid;
                height: 60px;
                font-size: 23px;
                @media (min-width: 768px) {
                    font-size: 23px;
                    width: 30%;
                }
                .loading {
                    width: 40px;
                    height: 100%;
                    margin: auto;
                    animation: loading 3s linear infinite;
                    @keyframes loading {
                        0% {
                            transform: rotate(0);
                        }
                        100% {
                            transform: rotate(360deg);
                        }
                    }
                    border-radius: 50%;
                    border: 2px var(--color-light-1) dashed;
                    background: transparent;
                }
            }
        }
    }
}
