.container {
  background-color: var(--color-light-1);
  display: flex;
  justify-content: center;

  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 0 1rem 1rem;
    background-color: var(--color-light-1);
    border-radius: 2%;

    .title {
      margin: 15px 0;
      color: var(--color-primary-2);
    }

    .form {
      display: flex;
      flex-direction: column;

      .errorMessage {
        color: var(--color-error);
        margin: 1rem 0;
      }

      .successMessage {
        margin: 1rem 0;
        color: var(--color-success-2);
      }
    }
  }
}
