.container {
    display: flex;
    justify-content: space-between;
    height: 75px;
    position: fixed;
    width: 100%;
    padding: 0 1rem;
    height: auto;
    .mobile_menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        @media (min-width: 768px) {
            display: none;
        }
    }
    .desktop_menu {
        display: none;
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 1200px;
            margin: auto;
            padding-left: 1rem;
            padding-right: 1rem;
            .links {
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 18px;
                nav {
                    height: 100%;
                    ul {
                        display: flex;
                        justify-content: space-between;
                        list-style: none;
                        gap: 25px;
                        height: 100%;
                        li {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: center;
                            width: auto;
                            cursor: pointer;
                            color: var(--color-light-1);
                            font-weight: 500;
                            transition: 400ms;
                        }
                        li:hover {
                            text-decoration: underline;
                            text-decoration-color: var(--color-primary-2);
                            text-decoration-thickness: 3px;
                        }
                    }
                }
            }
        }
    }
}
